body {
  margin: 0;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  font-family: "Inter";
}

@media only screen and (max-width: 728px) {
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 729px) {
  .content {
    margin-right: 20%;
    margin-left: 20%;
  }
}

.headerInner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 35px;
}

.headerLogo {
  filter: grayscale(1);
  height: 100%;
}
.headerLogo img {
  height: 100%;
}
